asd{padding: 20px 520px;}
.title{
 padding: 20px;
}
ul li{
 list-style: none;
}
img{
 border: none;
 text-decoration: none;
 display: block;
}
a{
 color: #004276;
 text-decoration: none;
}
a img,:link img,:visited img{border: 0;}
.boxpic{
 float: left;
 padding-right: 10px;
 }
.asd .h2{
 line-height: 40px;
 height: 40px;
 padding-top: 10px;
}
.asd .h3{float:left;}
.box6 .h2{float:right;}
.boxtext{
 border-bottom: 1px solid #004276;
}
.footer ul li{
 padding: 5px 1px;
 border-bottom: 2px dashed #001e35;
}

	 