.title{line-height:38px;
padding-top:18px;
font-size:16px;
font-weight:bold;
color:#2b2b2b;}

.h2{line-height:40px;
height:40px;
padding:8px;}

.ul li{list-style: none;}

.img{
	border:none;
	text-decoration:none;
	display:block;
}
.asd .box{float:left;}
  a img, :link img,:visited img{border:0;}
  .ul{list-style:none;}
  .clearfix:after{
	  centent:"."
	  display:block;
	  height:0;
	  clear:both;
	  visibility:hidden;}
	  .asd{
		  width:1000px;
		  height:1100px;
		  margin-top:7px;
		  margin-right:13px;
		  overflow:hidden;
	  }
	 .asd ul li {
	 color:#004276;
	 
	 .boxbig ul li{height:16px;
	 padding-left:13px;
	 }
	 .boxbig ul li {font-size:16px;
	 color:#004276;
	 line-height:26px;}.title{line-height:38px;
padding-top:18px;
font-size:16px;
font-weight:bold;
color:#2b2b2b;}

.h2{line-height:40px;
height:40px;
padding:8px;}

.ul li{list-style: none;}

.img{
	border:none;
	text-decoration:none;
	display:block;
}
.asd .box{float:left;}
  a img, :link img,:visited img{border:0;}
  .ul{list-style:none;}
  .clearfix:after{
	  centent:"."
	  display:block;
	  height:0;
	  clear:both;
	  visibility:hidden;}
	  .asd{
		  width:1000px;
		  height:1100px;
		  margin-top:7px;
		  margin-right:13px;
		  overflow:hidden;
	  }
	 .asd ul li {
	 color:#004276;
	 
	 .boxbig ul li{height:16px;
	 padding-left:13px;
	 }
	 .boxbig ul li {font-size:16px;
	 color:#004276;
	 line-height:26px;}